<%= render 'svg/fishportfoliobehind' %>
<div class="zindex-2">
	<%= render 'svg/fishportfolio' %>
</div>

<div class="bubbles">
	<div class="bubble bubble-one"></div>
	<div class="bubble bubble-two"></div>
	<div class="bubble bubble-three"></div>
</div>

<section class="section-portfolio">
	<div class="portfolio-intro">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/austravel-1.png" %>
		<h3>Front-End Development <br> Branding</h3>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/austravel-2.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/austravel-3.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/austravel-4.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/austravel-5.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/austravel-6.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
</section>
<div class="illuminator"></div>
<section class="social">
	<div class="share">
		<h1>THANK YOU!</h1>
		<div class="social-buttons">
			<a href=""><%=image_tag "facebook.png" %></a>
			<a href=""><%=image_tag "twitter.png" %></a>
			<a href=""><%=image_tag "pinterest.png" %></a>
		</div>
		<!-- <h4>Visit the website</h4> -->
	</div>
</section>
<%=link_to root_path, class: "a-close-button" do %>
	<div class="close-button">
		<span></span>
		<span></span>
	</div>
<% end %>
<%=link_to caravantripper_path, class: 'a-close-button' do %>
	<div class="nav-arrow">
			<div class="right">
				<span></span>
				<span></span>
			</div>
	</div>
<% end %>