<%
	meta title: "British Heart Foundation - Heart of York",
		description: "Heart of York - print design for the annual ride event in a wonderful city of York designed by Vlad Kuzmin",
     	keywords: %w(York bhf ride),
     	og: {
		  	image: "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-bhf.jpg",
		  	description: 'Heart of York - an annual ride event in one of the most beautiful cities York. Designed by Vlad Kuzmin',
		  	title: 'Heart of York Bike Ride by Vlad Kuzmin'
		},
		twitter: {
		  	card: "Heart of York - an annual ride event in one of the most beautiful cities York by",
		  	site: "@tapatun2005"
		}
%>

<div class="illuminator"></div>
<%= render 'svg/fishportfoliobehind' %>
<div class="zindex-2">
	<%= render 'svg/fishportfolio' %>
</div>

<div class="bubbles">
	<div class="bubble bubble-one"></div>
	<div class="bubble bubble-two"></div>
	<div class="bubble bubble-three"></div>
</div>

<section class="section-portfolio">
	<div class="portfolio-intro">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-1.png" %>
		<h3>Design</h3>
		<div class="social-top">
			<a href="https://facebook.com/sharer.php?u=http://www.vladkuzmin.com/bhf" target="_blank"><%=image_tag "facebook.png" %></a>
			<a href="https://twitter.com/intent/tweet?url=http://www.vladkuzmin.com/bhf&text=Heart%20of%20York%20Bike%20Ride%20by%20Vlad%20Kuzmin&via=tapatun" target="_blank"><%=image_tag "twitter.png" %></a>
			<a href="http://pinterest.com/pin/create/button/?url=http://www.vladkuzmin.com/bhf&description=Heart%20of%20York%20Bike%20Ride%20designed%20by%20Vlad%20Kuzmin&media=https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-bhf.jpg" target="_blank"><%=image_tag "pinterest.png" %></a>
		</div>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-2.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-3.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-4.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-5.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-6.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-7.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="social">
	<div class="share">
		<h1>THANK YOU!</h1>
		<div class="social-buttons">
			<a href="https://facebook.com/sharer.php?u=http://www.vladkuzmin.com/bhf" target="_blank"><%=image_tag "facebook.png" %></a>
			<a href="https://twitter.com/intent/tweet?url=http://www.vladkuzmin.com/bhf&text=Heart%20of%20York%20Bike%20Ride%20by%20Vlad%20Kuzmin&via=tapatun" target="_blank"><%=image_tag "twitter.png" %></a>
			<a href="http://pinterest.com/pin/create/button/?url=http://www.vladkuzmin.com/bhf&description=Heart%20of%20York%20Bike%20Ride%20designed%20by%20Vlad%20Kuzmin&media=https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-bhf.jpg" target="_blank"><%=image_tag "pinterest.png" %></a>
		</div>
		<!-- <h4>Visit the website</h4> -->
	</div>
</section>
<%=link_to root_path, class: "a-close-button" do %>
	<div class="close-button">
		<span></span>
		<span></span>
	</div>
<% end %>

<%=link_to brainonpoker_path, class: 'a-close-button' do %>
	<div class="nav-arrow">
			<div class="right">
				<span></span>
				<span></span>
			</div>
	</div>
<% end %>