<%
	meta title: "BWIN - Your Brain on Poker",
		description: "Your Brain on Poker is an interactive guide to brain activity during a poker game. Designed by Vlad Kuzmin",
     	keywords: %w(poker brain research),
     	og: {
		  	image: "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-brainonpoker.jpg",
		  	description: 'Your Brain on Poker is an interactive guide to brain activity during a poker game. Designed by Vlad Kuzmin',
		  	title: 'Your Brain on Poker by Vlad Kuzmin'
		},
		twitter: {
		  	card: "Your Brain on Poker - an interactive guide to brain activity during a poker game by",
		  	site: "@tapatun2005"
		}
%>


<%= render 'svg/fishportfoliobehind' %>
<div class="zindex-2">
	<%= render 'svg/fishportfolio' %>
</div>

<div class="bubbles">
	<div class="bubble bubble-one"></div>
	<div class="bubble bubble-two"></div>
	<div class="bubble bubble-three"></div>
</div>

<section class="section-portfolio">
	<div class="portfolio-intro">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-1.png" %>
		<h3>Front-End Development</h3>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-2.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-3.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-4.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-5.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-6.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-7.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<div class="illuminator"></div>
<section class="social">
	<div class="share">
		<h1>THANK YOU!</h1>
		<div class="social-buttons">
			<a href="https://facebook.com/sharer.php?u=http://www.vladkuzmin.com/brainonpoker" target="_blank"><%=image_tag "facebook.png" %></a>
			<a href="https://twitter.com/intent/tweet?url=http://www.vladkuzmin.com/brainonpoker&text=Your%20Brain%20on%20Poker%20by%20Vlad%20Kuzmin&via=tapatun2005" target="_blank"><%=image_tag "twitter.png" %></a>
		</div>
		<h4><a href="http://www.yourbrainonpoker.com/" target="_blank">Visit the website</h4></a>
	</div>
</section>
<%=link_to root_path, class: "a-close-button" do %>
	<div class="close-button">
		<span></span>
		<span></span>
	</div>
<% end %>

<%=link_to austravel_path, class: 'a-close-button' do %>
	<div class="nav-arrow">
			<div class="right">
				<span></span>
				<span></span>
			</div>
	</div>
<% end %>