<%=render "shared/load"%>
<%=render 'mobilemenu'%>
<div class="content-wrap">
	<section class="section-home">
		<div class="above">
			<div class="logo logo-move">
				<%=link_to contacts_path, :class => 'logo-link' do %>
					<%=  render "svg/logo" %>
					<div class="swap-title">
						<span class="logo-title">Vlad Kuzmin</span>
						<span class="logo-title">Contact</span>
					</div>
					<div class="swap-title-2">
						<!-- <span class="logo-subtitle">Services</span> -->
						<span class="logo-subtitle">Web Designer</span>
					</div>
				<% end %>
			</div>
			<div class="logo-mobile right logo-move">
				<%=  render "svg/logo" %>
				<span class="logo-title">Vlad Kuzmin</span>
				<span class="logo-subtitle">Web Designer</span>
			</div>
			<div class="welcome-message">
				<span class="welcome-subtitle">Dive into</span>
				<span class="welcome-title">Creativity</span>
			</div>
			<div class="rainbow">
				<%=render "svg/rainbow" %>
			</div>
		</div>
		<!-- END ABOVE -->
	</section>
	<section class="section-home-2 moveup">
		<div class="under">
			<%=render "svg/head"%>
			<%=render 'svg/fishes'%>
		</div>
	</section>
</div>
