<%=render 'mobilemenu'%>


<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['firstPage', 'secondPage', '3rdPage'],
				sectionsColor: ['#C63D0F', '#1BBC9B', '#7E8F7C'],
				scrollBar: true
			});
		});
	</script>
<div id="fullpage">
	<div class="section " id="section0">
		<div class="intro">
			<h1>Enable Your Scroll Bar!</h1>
			<p>The perfect combination!</p>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="intro">
			<h1>Great User Experience!</h1>
		</div>
	</div>
</div>








<%
=begin %>

	<div class="above">
		<div class="logo">
		<%=link_to contacts_path, :class => 'logo-link' do %>
			<%=  render "svg/logo" %>
			<span class="logo-title">Vlad Kuzmin</span>
			<span class="logo-subtitle">Web Designer</span>
		<% end %>
	</div>
	<div class="welcome-message">
		<span class="welcome-subtitle">Dive into</span>
		<span class="welcome-title">Creativity</span>
	</div>

	<%=render "svg/rainbow" %>
<!-- END ABOVE -->
</div>
<div class="under">
	<%=render "svg/head"%>
	<%=render "svg/fishes"%>		
</div>


<%
=end%>

<div class="load-bg"></div>
<div class="close-button-index">
	<span></span>
	<span></span>
</div>