<%=render 'mobilemenu'%>
<div class="above">
	<%=render "svg/rainbow" %>
	<div class="logo">
		<%=link_to contacts_path, :class => 'logo-link' do %>
			<%=  render "svg/logo" %>
			<span class="logo-title">Vlad Kuzmin</span>
			<span class="logo-subtitle">Web Designer</span>
		<% end %>
	</div>
	<div class="welcome-message">
		<span class="welcome-subtitle">Dive into</span>
		<span class="welcome-title">Creativity</span>
	</div>
</div> <!-- END ABOVE -->
<div class="under">
	<%=render "svg/head"%>
	<%=render "svg/fishes"%>
	<div class="clearfix"></div>			
</div>
<!--<div class="load-bg"></div>
<div class="close-button-index">
	<span></span>
	<span></span>
</div>-->