<%
	meta title: "Kenson Heating and Plumbing",
		description: "Kenson is a York local heating and plumbing service, designed by Vlad Kuzmin",
     	keywords: %w(heating York boiler plumbing),
     	og: {
		  	image: "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-kenson.jpg",
		  	description: 'Kenson is a York local heating and plumbing service, designed by Vlad Kuzmin',
		  	title: 'Crybabycry by Vlad Kuzmin'
		},
		twitter: {
		  	card: "Kenson is a York local heating and plumbing service, designed by Vlad Kuzmin",
		  	site: "@tapatun2005"
		}
%>

<div class="illuminator"></div>

<%= render 'svg/fishportfoliobehind' %>
<div class="zindex-2">
	<%= render 'svg/fishportfolio' %>
</div>

<div class="bubbles">
	<div class="bubble bubble-one"></div>
	<div class="bubble bubble-two"></div>
	<div class="bubble bubble-three"></div>
</div>

<section class="section-portfolio">
	<div class="portfolio-intro">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/kenson-1.png" %>
		<h3>Design and Front-End</h3>
		<div class="social-top">	
			<a href="https://facebook.com/sharer.php?u=http://www.vladkuzmin.com/kenson" target="_blank"><%=image_tag "facebook.png" %></a>
			<a href="https://twitter.com/intent/tweet?url=http://www.vladkuzmin.com/kenson&text=Kenson%20is%20a%20York%20local%20heating%20service,%20by%20Vlad%20Kuzmin&via=tapatun" target="_blank"><%=image_tag "twitter.png" %></a>
			<a href="http://pinterest.com/pin/create/button/?url=http://www.vladkuzmin.com/kenson&description=Kenson%20is%20a%20York%20local%20heating%20service,%20by%20Vlad%20Kuzmin&media=https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-kenson.jpg" target="_blank"><%=image_tag "pinterest.png" %></a>
		</div>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/kenson-2.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/kenson-3.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/kenson-4.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/kenson-5.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/kenson-6.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="social">
	<div class="share">
		<h1>THANK YOU!</h1>
		<div class="social-buttons">
			<a href="https://facebook.com/sharer.php?u=http://www.vladkuzmin.com/kenson" target="_blank"><%=image_tag "facebook.png" %></a>
			<a href="https://twitter.com/intent/tweet?url=http://www.vladkuzmin.com/kenson&text=Kenson%20is%20a%20York%20local%20heating%20service,%20by%20Vlad%20Kuzmin&via=tapatun" target="_blank"><%=image_tag "twitter.png" %></a>
			<a href="http://pinterest.com/pin/create/button/?url=http://www.vladkuzmin.com/kenson&description=Kenson%20is%20a%20York%20local%20heating%20service,%20by%20Vlad%20Kuzmin&media=https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-kenson.jpg" target="_blank"><%=image_tag "pinterest.png" %></a>
		</div>
		<!-- <h4>Visit the website</h4> -->
	</div>
</section>
<%=link_to root_path, class: "a-close-button" do %>
	<div class="close-button">
		<span></span>
		<span></span>
	</div>
<% end %>

<%=link_to skybet_path, class: 'a-close-button' do %>
	<div class="nav-arrow">
			<div class="right">
				<span></span>
				<span></span>
			</div>
	</div>
<% end %>