<%
	meta title: "Transfer Trands - Skybet football news",
		description: "Transfer Trands is a Skybet football twitter application, designed by Vlad Kuzmin",
     	keywords: %w(skybet football transfer england),
     	og: {
		  	image: "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-skybet.jpg",
		  	description: 'Transfer Trands is a Skybet football twitter application, designed by Vlad Kuzmin',
		  	title: 'Skybet Transfer Trends by Vlad Kuzmin'
		},
		twitter: {
		  	card: "Transfer Trands is a Skybet football twitter application, designed by Vlad Kuzmin",
		  	site: "@tapatun2005"
		}
%>

<div class="illuminator"></div>
<%= render 'svg/fishportfoliobehind' %>
<div class="zindex-2">
	<%= render 'svg/fishportfolio' %>
</div>

<div class="bubbles">
	<div class="bubble bubble-one"></div>
	<div class="bubble bubble-two"></div>
	<div class="bubble bubble-three"></div>
</div>

<section class="section-portfolio">
	<div class="portfolio-intro">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/skybet-1.png" %>
		<h3>Front-End Development <br> Branding</h3>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/skybet-2.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/skybet-3.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/skybet-4.png", :class => "first" %>
	</div>
</section>

<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/skybet-5.png", :class => "second" %>
	</div>
</section>
<section class="section-portfolio">
	<div class="portfolio-content">
		<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/skybet-6.png", :class => "first" %>
	</div>
</section>
<section class="section-portfolio">
</section>
<section class="social">
	<div class="share">
		<h1>THANK YOU!</h1>
		<div class="social-buttons">
			<a href="https://facebook.com/sharer.php?u=http://www.vladkuzmin.com/skybet" target="_blank"><%=image_tag "facebook.png" %></a>
			<a href="https://twitter.com/intent/tweet?url=http://www.vladkuzmin.com/skybet&text=Skybet%20Transfer%20Trends%20twitter%20application%20by%20Vlad%20Kuzmin&via=tapatun" target="_blank"><%=image_tag "twitter.png" %></a>
			<a href="http://pinterest.com/pin/create/button/?url=http://www.vladkuzmin.com/skybet&description=Skybet%20Transfer%20Trends%20twitter%20application%20by%20Vlad%20Kuzmin&media=https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/facebook-skybet.jpg" target="_blank"><%=image_tag "pinterest.png" %></a>
		</div>
		<h4><a href="http://www.skybet.com/cm/transfer-trends/" target="_blank"></a>Visit the website</h4>
	</div>
</section>
<%=link_to root_path, class: "a-close-button" do %>
	<div class="close-button">
		<span></span>
		<span></span>
	</div>
<% end %>
<%=link_to yournations_path, class: 'a-close-button' do %>
	<div class="nav-arrow">
			<div class="right">
				<span></span>
				<span></span>
			</div>
	</div>
<% end %>