
<div class="zindex-2">
	<%= render 'svg/fishportfolio' %>
</div>

<%=  render "mobilemenu" %>
<%=render "shared/load"%>

<div class="logo-contact logo-move">
	<%=link_to root_path, :class => 'logo-link' do %>
		<%=  render "svg/logo" %>
		<span class="logo-title">Vlad Kuzmin</span>
		<span class="logo-subtitle">Works</span>
	<% end %>
</div>
<div class="logo-mobile center logo-move">
	<%=  render "svg/logo" %>
	<span class="logo-title">Vlad Kuzmin</span>
	<span class="logo-subtitle">Web Designer</span>
</div>
<div class="portfolio-list">
	<%=link_to crybabycry_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/crybabycry-1.png", class: "postfolio-client-image-1" %>
			<h5>Branding</h5>
		</div>
	<% end %>
	<%=link_to austravel_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/austravel-1.png", class: "postfolio-client-image-2" %>
			<h5>Design, Branding & Front-End</h5>
		</div>
	<% end %>
	<%=link_to brainonpoker_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-1.png" %>
			<h5>Design, Branding & Front-End</h5>
		</div>
	<% end %>
	<%=link_to bhf_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/bhf-1.png", class: "postfolio-client-image-2" %>
			<h5>Design</h5>
		</div>
	<% end %>
	<%=link_to skybet_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/skybet-1.png" %>
			<h5>Design, Branding & Front-End</h5>
		</div>
	<% end %>
	<%=link_to yournations_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/brainonpoker-1.png", class: "postfolio-client-image-2" %>
			<h5>Design, Branding & Front-End</h5>
		</div>
	<% end %>
	<%=link_to caravantripper_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/caravantripper-1.png" %>
			<h5>Design & Front-End</h5>
		</div>
	<% end %>
	<%=link_to kenson_path, class: "portfolio-link" do %>
		<div class="portfolio-item">
			<%=image_tag "https://s3-eu-west-1.amazonaws.com/vladkuzmin-website/portfolio/kenson-1.png", class: "postfolio-client-image-2" %>
			<h5>Design, Branding & Front-End</h5>
		</div>
	<% end %>
</div>
