<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>Vlad Kuzmin Design</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <!--[if IE]>
    	<%= stylesheet_link_tag    'application-ie', media: 'all', 'data-turbolinks-track' => true %>
   <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="content-wrap">
		<%= yield %>
	</div>
</body>
</html>
